@import "./input-file-change/input-file-change.less";

.preview {
  min-height: 100px;
  width:100%;
  background-color: rgba(0,0,0,0.2);
  padding:5px;
  margin-bottom:10px;
}

.preview-canvas {
  width:100%;
  height:100%;
}