<div class="block-area">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2 class="tile-title">Attachments in this project</h2>
                <div class="row row-horizon" ng-if="project.attachments.length > 0">

                    <div class="col-md-2" ng-repeat="file in project.attachments | orderBy:'-timeStamp'">
                        <attachment-thumbnail file="file">
                        </attachment-thumbnail>
                    </div>

                </div>
                <div class="row" ng-if="project.attachments.length === 0">

                    <div class="col-md-4">

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <project-attach-tile-view></project-attach-tile-view>
        </div>
    </div>
</div>