<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>:: Wigwam Design ::</title>

    <!-- Favicons
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
    -->

    <link href="css/vortex.style.min.css" rel="stylesheet">
</head>
<body>

<!-- PRELOADER -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->

<!-- OVERLAY MENU -->
<div id="overlay-menu" class="overlay-menu">

    <a href="index.html#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

    <div class="overlay-menu-inner">
        <nav class="overlay-menu-nav">

            <ul id="nav">

                <li class="slidedown">
                    <a href="index.html#">Home</a>
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </li>

                <li><a href="about">About</a></li>

                <li><a href="/studio">Studio</a></li>

                <li class="slidedown">
                    <a href="index.html#">Portfolio</a>
                    <ul>
                        <li><a href="portfolio-single-1.html">Single 1 - standartd</a></li>
                        <li><a href="portfolio-single-2.html">Single 2 - gallery</a></li>
                        <li><a href="portfolio-single-3.html">Single 3 - full height</a></li>
                        <li><a href="portfolio-single-4.html">Single 4 - Slider</a></li>
                        <li><a href="portfolio-single-5.html">Single 5 - Youtube header</a></li>
                        <li><a href="portfolio-single-6.html">Single 6 with slider</a></li>
                        <li><a href="portfolio-single-7.html">Single 7 with Youtube</a></li>
                        <li><a href="portfolio-single-8.html">Single 8 with Vimeo</a></li>
                    </ul>
                </li>

                <li class="slidedown">
                    <a href="index.html#">News</a>
                    <ul>
                        <li><a href="blog-grid.html">3 column grid</a></li>
                        <li><a href="blog-grid-2.html">2 column grid</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                        <li><a href="blog-single.html">Single post</a></li>
                    </ul>
                </li>

                <li class="slidedown">
                    <a href="index.html#">Features</a>
                    <ul>
                        <li><a href="components-1.html">Buttons, Content box, Progress bars</a></li>
                        <li><a href="components-2.html">Tab & Accordian</a></li>
                        <li><a href="components-3.html">Pricing tables</a></li>
                        <li><a href="components-4.html">Typography & Columns</a></li>
                        <li><a href="components-5.html">Modules & Overlays</a></li>
                    </ul>
                </li>

                <li><a href="contact.html">Contact</a></li>

            </ul>

        </nav>
    </div>

    <div class="overlay-navigation-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">
                    <p class="copyright font-alt m-b-0">© 2016 wigwam.design, All Rights Reserved.</p>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /OVERLAY MENU -->

<!-- WRAPPER -->
<div class="wrapper">

    <!-- NAVIGATION -->
    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="assets/images/svg/logo_wigwam_compact_white_100x35.svg" width="95" alt="">
                </a>
            </div>

            <!-- ICONS NAVBAR -->
            <ul id="icons-navbar" class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html#" id="toggle-menu" class="show-overlay" title="Menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </li>
            </ul>
            <!-- /ICONS NAVBAR -->

            <ul class="extra-navbar nav navbar-nav navbar-right">
                <li>
                    <a href="/" title="Menu">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about" title="Menu">
                        About
                    </a>
                </li>
                <li>
                    <a href="/studio" title="Menu">
                        Studio
                    </a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /NAVIGATION -->
