<div class="modal-header">
    <h3 class="modal-title">{{title()}}</h3>
</div>
<div class="modal-body">

    <div class="row m-t-20 m-b-20">
        <div class="col-md-12">
            <div class="shortcut-area">

                <a ng-repeat="project in projects"
                   class="shortcut tile {{classForProject(project)}}"
                   ng-click="choose(project)">
                    <img src="img/shortcuts/project.svg" alt="">
                    <small class="t-overflow">{{project.formattedName()}}</small>
                </a>


            </div>
        </div>
    </div>

    <hr class="whiter m-b-20"/>

    <div class="row m-t-20 m-b-20">
        <div class="col-md-6">
            <p>
                Start Time
            </p>
            <uib-timepicker ng-model="newEvent.start"
                            ng-change="changed('start')"
                            hour-step="1"
                            minute-step="15"
                            show-meridian="false">

            </uib-timepicker>
        </div>
        <div class="col-md-6">
            <p>
                End Time
            </p>
            <uib-timepicker ng-model="newEvent.end"
                            ng-change="changed('end')"
                            hour-step="1"
                            minute-step="15"
                            show-meridian="false">

            </uib-timepicker>
        </div>

    </div>

    <hr class="whiter m-b-20"/>

    <div class="row m-t-20 m-b-20">
        <input ng-model="newEvent.title"
               type="text"
               class="form-control m-b-10"
               placeholder="Event title">
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>