<section id="login" ng-controller="LoginCtrl">
    <header>
        <h1>WIGWAM DESIGN STUDIO</h1>
    </header>

    <div class="clearfix"></div>

    <!-- Login -->
    <form class="box tile animated {{active('login')}}" id="box-login"
          ng-submit="submit(credentials)" novalidate>

        <h2 class="m-t-0 m-b-15">Login</h2>
        <input type="text" class="login-control m-b-10" placeholder="Email Address"
               ng-model="credentials.email">
        <input type="password" class="login-control" placeholder="Password"
               ng-model="credentials.password">

        <div class="space-sep20">&nbsp;</div>

        <button class="btn btn-sm m-r-5" type="submit">Sign In</button>

        <small>
            <a class="box-switcher" data-switch="box-register" ng-click="setBox('register')">Don't have an Account?</a> or
            <a class="box-switcher" data-switch="box-reset" ng-click="setBox('forgot')">Forgot Password?</a>
        </small>
    </form>

    <!-- Register -->
    <form class="box animated tile {{active('register')}}" id="box-register">
        <h2 class="m-t-0 m-b-15">Register</h2>
        <input type="text" class="login-control m-b-10" placeholder="Full Name">
        <input type="text" class="login-control m-b-10" placeholder="Username">
        <input type="email" class="login-control m-b-10" placeholder="Email Address">
        <input type="password" class="login-control m-b-10" placeholder="Password">
        <input type="password" class="login-control m-b-20" placeholder="Confirm Password">

        <button class="btn btn-sm m-r-5">Register</button>

        <small><a class="box-switcher" data-switch="box-login" ng-click="setBox('login')">Already have an Account?</a></small>
    </form>

    <!-- Forgot Password -->
    <form class="box animated tile {{active('forgot')}}" id="box-reset">
        <h2 class="m-t-0 m-b-15">Reset Password</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem
            fringilla enim feugiat commodo sed ac lacus.</p>
        <input type="email" class="login-control m-b-20" placeholder="Email Address">

        <button class="btn btn-sm m-r-5">Reset Password</button>

        <small><a class="box-switcher" data-switch="box-login" ng-click="setBox('login')">Already have an Account?</a></small>
    </form>

</section>