<h4 class="page-title b-0">Users</h4>

<div class="block-area">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2" ng-repeat="user in users">
                    <div class="tile">
                        <h2 class="tile-title">
                            {{user.formattedName()}}
                        </h2>
                        <div class="p-10">
                            <img class="profile-pic" ng-src="{{user.gravatar()}}" alt="">
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-{{user.roleIcon()}}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row" ng-repeat="chat in chats">
                <div class="col-md-12">
                    <chat chat-model="chat"></chat>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <article id="heading" class="block-area" ng-if="users.length === 0">
            <article id="paragraph" class="block-area">
                <h3 class="block-title">Nobody to chat to</h3>


                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <p>
                            Right now nobody is chatting.
                        </p>
                        <p>
                            This application is developed using open source components and is open source itself. You can
                            find the source code <a href=https://github.com/ndm-io/wigwam-design-home">here</a>
                        </p>
                        <p>
                            There is much work goes into an application such as this. And even more work is put into the
                            components that make it up. We contribute back into the open source community with the code
                            we write.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            This is just a selection of projects we use
                        </p>
                        <img class="project-icon" src="img/svg/project_icons/git-logo.svg" alt="Git Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/github-logo.svg" alt="GitHub Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/gulp.svg" alt="Gulp Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/nodejs-logo-white.svg" alt="NodeJs Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/npm-logo.svg" alt="NPM logo"/>
                        <img class="project-icon" src="img/svg/project_icons/angularjs-logo.svg" alt="AngularJs Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/html5-logo.svg" alt="HTML5 Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/mongodb-logo.svg" alt="MongoDb Logo"/>
                        <img class="project-icon" src="img/svg/project_icons/socket-io-logo.svg" alt="Socket.io Logo"/>
                    </div>
                </div>

            </article>
        </article>
    </div>
</div>







