
.quick-chat-message-container{
    margin: 0;
    padding: 0 10px 10px;
    height:300px;
    overflow-x:hidden;
}

.quick-chat-user-container {
    padding: 3px;
}

.quick-chat-user-gravatar {
    margin: 2px;
    float:left;
}

.quick-chat-message {
    margin:2px;
    padding:2px;
}

