<h4 class="page-title">CALENDAR</h4>

<div ng-if="projects.length > 0">
    <!-- Shortcuts -->
    <div class="block-area shortcut-area">
        <a class="shortcut tile"
           ng-repeat="project in projects"
           ui-sref="home.project({project: project})">
            <img src="img/shortcuts/project.svg" alt="">
            <small class="t-overflow">{{project.formattedName()}}</small>

        </a>
    </div>


    <hr class="whiter"/>

    <div class="block-area">

        <div class="row m-b-20">

            <div class="col-md-12">
                <ul class="calendar-actions list-inline clearfix">
                    <li class="p-r-0">
                        <a ng-click="changeView('mainCalendar', 'month')" href class="tooltips" title="Month">
                            <i class="sa-list-month"></i>
                        </a>
                    </li>
                    <li class="p-r-0">
                        <a ng-click="changeView('mainCalendar', 'agendaWeek')" href class="tooltips" title="Week">
                            <i class="sa-list-week"></i>
                        </a>
                    </li>
                    <li class="p-r-0">
                        <a ng-click="changeView('mainCalendar', 'agendaDay')" href class="tooltips" title="Day">
                            <i class="sa-list-day"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 clearfix m-t-20">
                <div class="fc-admin"
                     calendar="mainCalendar"
                     ui-calendar="uiConfig.calendar"
                     ng-model="eventSources"></div>
            </div>

        </div>

    </div>
</div>

<div class="block-area">
    <div ng-if="projects.length == 0">
        <no-projects></no-projects>
    </div>
</div>

