<h4 class="page-title">CALENDAR</h4>

<div class="col-md-8 clearfix">

    <div id="calendar" calendar-widget class="p-relative p-10 m-b-20">
        <!-- Calendar Views -->
        <ul class="calendar-actions list-inline clearfix">
            <li class="p-r-0">
                <a ng-click="view('month')" title="Month">
                    <i class="sa-list-month"></i>
                </a>
            </li>
            <li class="p-r-0">
                <a ng-click="view('basicWeek')" title="Week">
                    <i class="sa-list-week"></i>
                </a>
            </li>
            <li class="p-r-0">
                <a ng-click="view('basicDay')" title="Day">
                    <i class="sa-list-day"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-4">
    <h4 class="m-l-5">Upcoming Events</h4>
    <div class="listview narrow">

        <div class="media p-l-5" ng-repeat="event in upComingEvents">
            <div class="media-body">
                <small class="text-muted">Tomorrow at 8:56 PM</small><br>
                <a class="t-overflow" href="">event.title</a>
            </div>
        </div>

    </div>
</div>

<!-- Add event -->
<div class="modal fade" id="addNew-event">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add an Event</h4>
            </div>
            <div class="modal-body">
                <form class="form-validation" role="form">
                    <div class="form-group">
                        <label for="eventName">Event Name</label>
                        <input type="text" class="input-sm form-control validate[required]" id="eventName" placeholder="...">
                    </div>

                    <input type="hidden" id="getStart" />
                    <input type="hidden" id="getEnd" />
                </form>
            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info btn-sm" id="addEvent" value="Add Event">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Resize alert -->
<div class="modal fade" id="editEvent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Event</h4>
            </div>
            <div class="modal-body">
                <div id="eventInfo"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Okay</button>
                <button type="button" class="btn btn-info btn-sm" id="editCancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<br/><br/>