<h4 class="page-title b-0">Messages</h4>

<div class="message-list list-container">
    <header class="listview-header media">
        <input type="checkbox" class="pull-left list-parent-check" value="">

        <ul class="list-inline pull-right m-t-5 m-b-0">
            <li class="pagin-value hidden-xs">{{totalMessageCount()}}</li>
        </ul>

        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="" title="Add" class="tooltips">
                    <i class="sa-list-add"></i>
                </a>
            </li>
            <li>
                <a href="" title="Refresh" class="tooltips" ng-click="refresh()">
                    <i class="sa-list-refresh"></i>
                </a>
            </li>
            <li class="show-on" style="display: none;">
                <a href="" title="Move" class="tooltips">
                    <i class="sa-list-move"></i>
                </a>
            </li>
            <li class="show-on" style="display: none;">
                <a href="" title="Delete" class="tooltips">
                    <i class="sa-list-delete"></i>
                </a>
            </li>
        </ul>

        <input class="input-sm col-md-4 pull-right message-search" type="text" ng-model="search.$" placeholder="Search....">

        <div class="clearfix"></div>
    </header>

</div>

<div class="message-list list-container" ng-repeat="project in projects">
    <h3 class="block-title">{{project.name || "Your Concept"}}</h3>
    <h3 class="block-title">{{project.guid}}</h3>
    <div class="media" ng-repeat="message in project.messages | filter:search:strict">
        <a class="media-body" href="" ui-sref="home.message({messageGuid: message.guid, projectGuid: project.guid, message:message})">
            <div class="pull-left list-title">
                <span class="t-overflow f-bold">{{message.createdBy}}</span>
            </div>
            <div class="media-body hidden-xs">
                <span class="t-overflow">{{message.summary()}}</span>
            </div>
        </a>
    </div>
</div>





