<div class="block-area">
    <div class="row">
        <h3 class="block-title">DESIGN BRIEF</h3>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <blockquote>
                <p>
                    A design brief is a written document for a design project developed in concert
                    by a person representing the business need for design and the designer.
                    The document is focused on the desired results of design – not aesthetics.
                </p>
                <small>
                    Wikipedia
                </small>
                <i class="icon-quote-right"></i>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2 class="tile-title">DESIGN BRIEF QUESTIONNAIRE</h2>
                <div class="row" ng-repeat="item in items">
                    <div class="col-md-12">
                        <h3 class="block-title">{{item.label}} - {{item.description}}</h3>
                        <div class="row option-row {{isSelectedClass(item, option)}} {{isSelectable()}}"
                             ng-repeat="option in item.options"
                             ng-click="select(item, option)">

                            <div class="col-md-3">
                                {{option.label}}
                            </div>
                            <div class="col-md-9">
                                <md ng-model="option.description"></md>
                            </div>
                        </div>

                        <hr class="whiter"/>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="block-title">FINALISATION</h3>
                        <div class="row" ng-if="!project.brief.locked">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p>
                                    Click this button to lock your design brief ready for submission
                                </p>
                                <p>
                                    <button class="btn btn-alt" ng-click="lock()">Lock</button>
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-if="project.brief.locked">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p>
                                    This Design Brief is locked and ready for use. If you would like to add a new
                                    design brief to this project, that will replace this one. Click the button
                                </p>
                                <p>
                                    <button class="btn btn-alt" ng-click="newBrief()">
                                        Create a new Brief
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-area">

</div>