.my-message {
  text-align: right;
}

.your-message {
  text-align: left;
}

.user-typing {
  -webkit-transform: translate(3em,0);
  -moz-transform: translate(3em,0);
  -o-transform: translate(3em,0);
  -ms-transform: translate(3em,0);
  transform: translate(3em,0);
}
