<div class="tile">
    <h2 class="tile-title">{{title}} <span class="pull-right">GPS {{loc}}</span></h2>
    <div class="row">
        <div class="col-md-6">
            <clickable-map id="locationSelector"
                           event-handler="eventHandler"
                           map-model="locationSelectorCtrl.mapModel">

            </clickable-map>
        </div>
        <div class="col-md-6">
            <div style="height:10px;"></div>
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-alt" ng-click="useCurrent()"
                                    title="Use Current">
                                <i class="fa fa-location-arrow"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-alt" ng-click="centerOnMarker()"
                                    title="Centre on Marker">
                                <i class="fa fa-map-marker"></i>
                            </button>
                            <button class="btn m-r-5" ng-click="search()">
                                Search
                            </button>
                        </div>
                    </div>
                    <div style="height:10px"></div>
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text"
                                   class="form-control input-sm m-b-10"
                                   ng-model="searchText"
                                   placeholder="Search for a place...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="block-title">Auto Saved Address</h3>
                            <address>
                                <span ng-repeat="line in address">{{line}}<br></span>
                            </address>
                            <div class="spinner" style="margin-top: -50px; opacity: {{opacity()}};">
                                <div class="cube1"></div>
                                <div class="cube2"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="block-title">Address</h3>
                            <button class="btn btn-sm btn-alt" ng-click="submit()" title="Save"><i
                                    class="fa fa-save"></i></button>
                            <form>
                                <div class="form-group"
                                     ng-repeat="key in locationSelectorCtrl.mapModel.address.addressKeys()">
                                    <input type="text"
                                           class="form-control input-sm m-b-10"
                                           ng-model="locationSelectorCtrl.mapModel.address[key]"
                                           placeholder="{{locationSelectorCtrl.mapModel.address.placeholderForKey(key)}}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>