<h4 class="page-title b-0">PROJECT: {{project.formattedName()}}</h4>

<!-- Shortcuts -->
<div class="block-area shortcut-area">

    <shortcut-tile sref="home.project.summary"
                   on-src="img/shortcuts/summary_full.svg"
                   off-src="img/shortcuts/summary_empty.svg"
                   toggle-on="project.summaryComplete()"
                   title="Summary">
    </shortcut-tile>

    <shortcut-tile sref="home.project.location"
                   on-src="img/shortcuts/map_pin_located.svg"
                   off-src="img/shortcuts/map_pin_.svg"
                   toggle-on="project.hasVerifiedAddress()"
                   title="Location">
    </shortcut-tile>

    <shortcut-tile sref="home.project.designbrief"
                   on-src="img/shortcuts/design_brief_checked.svg"
                   off-src="img/shortcuts/design_brief.svg"
                   toggle-on="project.brief.locked"
                   title="Brief">

    </shortcut-tile>

    <shortcut-tile sref="home.project.attach"
                   on-src="img/shortcuts/attach_full.svg"
                   off-src="img/shortcuts/attach_empty.svg"
                   toggle-on="project.hasAttachments()"
                   title="Attach">

    </shortcut-tile>

    <shortcut-tile ng-if="project.hasAttachments()"
                   sref="home.project.attachments"
                   on-src="img/shortcuts/presentation_images.svg"
                   off-src="img/shortcuts/presentation_empty.svg"
                   toggle-on="project.hasAttachments()"
                   title="Attachments">

    </shortcut-tile>

    <shortcut-tile sref="home.project.attachments"
                   on-src="img/shortcuts/shopping_cart_empty.svg"
                   off-src="img/shortcuts/shopping_cart_empty.svg"
                   toggle-on="project.hasAttachments()"
                   title="Products">

    </shortcut-tile>

</div>

<hr class="whiter"/>

<div class="row">
    <div class="{{mainColWidth()}}">
        <div ui-view></div>
    </div>
    <div class="col-md-3" ng-if="chats.length > 0">
        <div class="block-area">
            <div class="row">
                <div class="col-md-12" ng-repeat="chat in chats">
                    <chat chat-model="chat"></chat>
                </div>
            </div>
        </div>
    </div>
</div>


